html, body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

.top-bg-light {
    background: #EAEAEA;
}

nav.bg-light {
    background: #FFFFFF !important;
}

.top-header ul {
    margin-bottom: 0;
}

.top-header a {
    color: #000000;
}
