html, body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

body {
    font-size: 1rem;
}

/* Global CSS */
.parallax {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display: none;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #e29291;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courgette', cursive;
}

h3 {
    font-size: 2rem;
}

.d-flex .flex-fill {
    width: 100%;
}

.text-pink {
    color: #E29291;
}

.text-white {
    color: #FFFFFF;
}

.btn-pink {
    border-color: 1px solid #E29291;
    background: #E29291;
    color: #FFFFFF;
}

/* Header */
.top-bg-light {
    background: #EAEAEA;
}

nav.bg-light {
    background: #FFFFFF !important;
}

.top-header ul {
    margin-bottom: 0;
}

.top-header a {
    color: #000000;
}

header .top-header ul li {
    display: inline-block;
}

header .top-header ul li a {
    padding: 0 .5rem;
}

header .top-header ul li a:hover {
    color: #E29291;
}

header .navbar > .container {
    position: relative;
}

header .navbar > .container a.navbar-brand.logo-big {
    background: #FFFFFF;
    padding: 0.8rem 1.3rem;
    position: absolute;
    top: 0;
    z-index: 1;
}

header .navbar > .container a.navbar-brand img {
    width: 5rem;
}

header .navbar > .container a.navbar-brand.logo-big img {
    width: 10rem;
}

header.header-fixed {
    border-bottom: 1px solid #E29291;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

header .navbar-light .navbar-nav .nav-link {
    font-size: .8rem;
}

/* BANNER */
.banner {
    background-image: url(../images/banner-1.png);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 600px;
}

.banner h2 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 3rem;
    padding-top: 8rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.banner-1 {
    background-image: url(../images/banner-1.png);
}

.banner-2 {
    background-image: url(../images/banner-2.png);
}

.banner-3 {
    background-image: url(../images/banner-3.png);
}

.banner-4 {
    background-image: url(../images/banner-4.png);
}

.banner-5 {
    background-image: url(../images/banner-5.png);
}

/* ABOUT US */
.about-us {
    padding: 4rem 0;
    text-align: center;
}

.about-us h3 {
    font-size: 3em;
    margin-bottom: 3rem;
}

.about-us p {
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

/* Motto */
.motto-mantra {
    background-image: url(../images/photoshoot.png);
    padding: 6rem 0 3rem;
}

.motto-mantra .d-flex {
    margin-bottom: 4rem;
    font-size: 1rem;
}

.motto-mantra .d-flex .flex-fill:first-child {
    margin-right: 1.5rem;
}

.motto-mantra p {
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    padding: 1rem;
}

.motto-mantra h3 {
    background-color: rgba(0,0,0, 0.5);
    display: inline-block;
    padding: 1rem;
}

/* Core & Certificates */
.core-certificates {
    padding: 4rem 0;
}

.core-certificates h3 {
    margin-bottom: 4rem;
}

.core-certificates .d-flex .flex-fill:first-child {
    margin-right: 4rem;
}

/* Packages */
.packages {
    background-image: url(../images/packages.png);
    padding: 6rem 0;
}

.packages .container {
    width: 70%;
}

.packages h3 {
    background: rgba(0,0,0,0.5);
    font-size: 3rem;
    padding: .5rem 1rem;
}

.packages .packages-list {
    padding: 4rem 0;
}

.packages .packages-list .d-flex:first-child {
    margin-bottom: 2rem;
}

.packages .packages-list .flex-fill {
    border-radius: 2rem;
    background:rgba(226, 146, 145, 0.9);
    padding: .8rem 1rem;
}

.packages .packages-list .flex-fill a {
    color: #FFFFFF;
    display: block;
    font-weight: 600;
    padding: .5rem 1rem;
    text-align: center;
}

.packages .packages-list .flex-fill:hover {
    background:rgba(255, 255, 255, 1);
}

.packages .packages-list .flex-fill:hover a {
    color: #E29291;
}

.packages .packages-list .flex-fill a:hover {
    text-decoration: none;
}

.packages .packages-list .flex-fill:not(:last-child) {
    margin-right: 2rem;
}

.packages .catering-menu a {
    background: rgba(0,0,0,0.5);
    color: #FFFFFF;
    display: inline-block;
    padding: .5rem 1rem;
}

/* Contact Us */
.contact-us {
    padding: 5rem 0 3rem;
}

.contact-us .container {
    width: 40%;
}

.contact-us h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contact-us form .btn {
    border-radius: 100px;
    padding: .5rem 1rem;
    width: 100%;
}

.contact-us form .btn:hover {
    color: #ECDBDB;
}

.contact-us .recaptcha-field.is-invalid .invalid-feedback {
    display: block;
}

/* Footer */
footer .footer-top {
    border-top: 1px solid #E29291;
    padding: 2rem 0;
}

footer .footer-top ul {
    margin: 2rem 0;
    padding: 0;
}

footer .footer-top ul li {
    display: inline-block;
    list-style: none;
    position: relative;
}

footer .footer-top ul li a {
    color: #E29291;
    font-size: .8rem;
    padding: .5rem 1rem;
    position: relative;
}

footer .footer-top ul li a:before {
    color: #E29291;
    content: '\f111';
    font-family: 'Font Awesome 5 Free';
    font-size: .3rem;
    font-weight: 900;
    left: 0;
    margin-left: -5px;
    position: absolute;
    top: 11px;
}

footer .footer-top ul.socials {
    margin-top: 0;
}

footer .footer-top ul.socials li a {
    color: #999999;
    font-size: 1rem;
    padding: .3rem;
}

footer .footer-top ul.socials li a:before {
    content: '';
}

footer .footer-top ul li:first-child a:before {
    content: '';
}

footer .footer-bottom .copyright {
    background: #333333;
    color: #FFFFFF;
    font-size: .8rem;
    padding: .8rem 0;
    text-align: center;
}

footer .mailto a {
    color: #999999;
}

@media screen and (max-width: 990px) {
    header .navbar > .container a.navbar-brand.logo-big {
        position: initial;
    }

    header .navbar > .container a.navbar-brand.logo-big img {
        width: 5rem !important;
    }

    header .navbar > .container a.navbar-brand {
        padding-bottom: .3125rem !important;
        padding-top: .3125rem !important;
    }

    .contact-us .container {
        width: 70%;
    }

    .packages .container {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .banner h2 {
        padding-top: 2rem;
    }

    .about-us {
        padding: 4rem 2rem;
    }

    .motto-mantra .d-flex {
        display: block !important;
    }

    .motto-mantra .d-flex .flex-fill {
        margin-bottom: 2rem;
    }

    .core-certificates .d-flex {
        display: block !important;
    }

    .core-certificates .d-flex .flex-fill {
        margin-bottom: 2rem;
    }

    .core-certificates h3 {
        margin-bottom: 0rem;
        padding: 2rem 0 4rem;
    }

    .contact-us .container {
        width: 90%;
    }

    .packages {
        padding: 6rem 0 1rem;
    }

    .packages .container {
        width: 100%;
    }

    .packages .packages-list .flex-fill a {
        font-size: .8rem;
        padding: .2rem 1rem;
    }

    .packages .packages-list .d-flex {
        display: block !important;
    }

    .packages .packages-list .d-flex .flex-fill {
        margin-bottom: 2rem;
    }

    .packages .catering-menu a {
        margin-bottom: 2rem;
    }

    footer .footer-top ul li {
        display: block;
    }

    footer .footer-top ul li a:before {
        content: '';
    }

    footer .footer-top ul li a {
        font-size: 1rem;
    }
}
